<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Tests">
        <!-- <groups>
            <run>
                <exclude name="regression" />
            </run>
        </groups> -->
        <classes>
            <class name="TestNgFiles.AppleSupportTest" />
        </classes>
    </test>
</suite>
